<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="adress" value ="https://10.0.1.221:9000/"/>
    <add key ="filePath" value="Path.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>